<%= render 'shared/errors', object: @user %>
<%= form_with model: @user do |f| %>
  <div class="form-group mb-3 row">
      <%= f.label :role, class: 'col-sm-2 col-form-label' %>
      <%= f.text_field :role, value: @user.role.titleize,
        class: 'form-control-plaintext form-control-lg',readonly: true %>
  </div>

  <div class="form-group mb-3 row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
    <%= f.email_field :email, placeholder: 'Enter you email', class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group mb-3 row">
    <%= f.label :first_name, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :first_name, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group mb-3 row">
    <%= f.label :middle_name, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :middle_name, class: 'form-control form-control-lg' %>
  </div>
  <div class="form-group mb-3 row">
    <%= f.label :last_name, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :last_name, class: 'form-control form-control-lg' %>
  </div>





    <div class="form-group mb-3 row">
        <%= f.label :region, class: "col-sm-2 col-form-label" %>
      <%= f.select :region_id, Region.pluck(:name, :id), {}, class: "form-control" %>
    </div>
    <div class="form-group mb-3 row">
      <%= f.label :password, class: "col-sm-2 col-form-label" %>
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
    <div class="form-group mb-3 row">
      <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
      <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
    </div>

  <%= f.submit (@user.new_record? ? 'Register' : 'Save'), class: 'btn btn-primary btn-lg' %>
<% end %>