<%= provide :main_menu do %>
  <header class="p-3 bg-secondary text-white">
    <div class="container">
      <nav class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <% if user_signed_in? %>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= nav_tab 'Home', root_path,
            class: 'nav-link px-2', current_page: current_page %></li>
            <li><%= nav_tab 'Posts', posts_path,
            class: 'nav-link px-2', current_page: current_page %></li>
          </ul>
        <% end %>
        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li><%= nav_tab 'Log out', session_path,
          class: 'nav-link px-2', current_page: current_page, method: :delete %></li>
            <li><%= link_to 'Edit profile', edit_user_path(current_user), class: 'nav-link px-2' %></li>
          <% else %>
            <li><%= nav_tab 'Sign up', new_user_path,
              class: 'nav-link px-2', current_page: current_page %></li>
            <li><%= nav_tab 'Sign in', new_session_path,
              class: 'nav-link px-2', current_page: current_page %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<% end %>