<%= render 'shared/errors', object: @post %>
<%= form_with model: @post, multipart: true do |f| %>
  <div class="form-group mb-3 row">
    <%= f.label :title, class: "col-sm-2 col-form-label" %>
    <%= f.text_field :title,  placeholder: 'Title', class: 'form-control' %>
  </div>
  <div class="form-group mb-3 row">
    <%= f.label :content, class: "col-sm-2 col-form-label" %>
    <%= f.text_area :content,  placeholder: 'Content', class: 'form-control col-sm-10', rows: 10 %>
  </div>
  <% if current_user.admin_role? %>
    <div class="form-group mb-3 row">
      <%= f.label :region, class: "col-sm-2 col-form-label" %>
      <%= f.select :region_id, Region.pluck(:name, :id), {}, class: "form-control" %>
    </div>
  <% end %>
  <% if current_user.admin_role? && params[:action] == 'edit' %>
    <div class="input-group mb-3 row">
      <%= f.label :status, class: "col-sm-2 col-form-label" %>
      <%= f.select :status, Post.aasm.states_for_select, {}, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group mb-3 row">
    <%= f.label "Images (#{@post.images.size})", class: "col-sm-2 col-form-label" %>
    <%= f.file_field :images, multiple: true, accept: 'image/jpeg, image/png', class: 'form-control' %>
  </div>
  <div class="form-group mb-3 row">
    <%= f.label "Files (#{@post.files.size})", class: "col-sm-2 col-form-label" %>
    <%= f.file_field :files, multiple: true, class: 'form-control' %>
  </div>
  <%= f.hidden_field :lock_version %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
