<tr class=<%= authored_as_admin_by?(current_user, post) ? 'table-info' : '' %> >
  <th scope="row" class="text-muted "> <%= post.id %></th>
  <td> <%= post.title %> </td>
  <td> <%= authored_as_admin_by?(current_user, post) ? 'You' : post.user.short_name %> </td>
  <td class="text-nowrap">
    <i class="bi bi-images text-primary"><%= post.images.size %></i>
    <i class="bi bi-dot"></i>
    <i class="bi bi-paperclip text-secondary"><%= post.files.size %></i>
  </td>
  <td class="text-center"> <%= post.published_at_formatted %> </td>
  <td> <%= post.region.name %> </td>
  <td> <%= content_tag :span, post.status, class: status_badge_class(post.status) %> </td>
  <td>
    <div class="btn-group btn-group-sm" role="group">
      <% if policy(post).edit? %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-secondary" %>
      <% end %>
      <% if policy(post).show? %>
        <%= link_to 'Show', post_path(post), class: "btn btn-outline-secondary" %>
      <% end %>
      <% if policy(post).destroy? %>
        <%= link_to 'Delete', post_path(post), class: "btn btn-outline-secondary", data: { method: :delete, confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </td>
</tr>