<h1>Posts</h1>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">img</th>
      <th scope="col">files</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post | %>
      <tr>
        <th scope="row" class="text-muted"> <%= post.id %></th>
        <td> <%= post.title %> </td>
        <td> <%= post.images.size %> </td>
        <td> <%= post.files.size %> </td>
        <td> <%= post.status %> </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-secondary" %>
            <%= link_to 'Show', post_path(post), class: "btn btn-outline-secondary" %>
            <%= link_to 'Delete', post_path(post), class: "btn btn-outline-secondary", data: { method: :delete, confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>