<% currently_at 'Posts' %>
<div class="row">
  <div class="col">
    <h1 class="display-4"><%= @post.title %></h1>
    <p><%= content_tag :span, @post.status, class: status_badge_class(@post.status) %> </p>
    <h4 class="text-secondary"><%= @post.region.name %> </h4>
    <p class="text-secondary"><%= @post.decorate.published_at_formatted %> </p>
    <div class="mb-2">
      <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-outline-primary btn-sm'  %>
      <%= link_to "Back", posts_path, class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to "Destroy", @post, class: 'btn btn-outline-secondary btn-sm', method: :delete %>
    </div>
    <p class="lead"><%= sanitize @post.content %></p>
  </div>
</div>
<div class="row">
  <hr />
  <h2>Images</h2>
  <%= render 'shared/images', object: @post %>
</div>
<div class="row">
  <hr />
  <h2>Files</h2>
  <%= render 'shared/files', object: @post %>
</div>