<!DOCTYPE html>
<html>
  <head>
    <title>Writer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= yield :main_menu %>
    <% flash.each do |key, value| %>
      <%= tag.div value, class: "alert alert-#{key}", role: "alert" %>
    <% end %>
    <main class="container mt-4">
      <%= yield %>
    </main>
  </body>
</html>
